@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.flex-center, .impact-disclaimer, #gameOver, .main #userOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.absolute-center, #pauseMenu, #newItemDisplay, #parameterContainer, #chaptersContainer, #impact-container .userImpactChoice:before, #threeItemContainer, .main, #opponentContainer, #savorContainer, #savorContainer #petHeart {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.quit-menu, #pauseMenu #closePauseMenuBtn, #parameterContainer #closeOptBtn, #chaptersContainer #closeChapterBtn {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1.2em;
}

.options {
  background-color: #212529;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.options:hover {
  background-color: black;
}

#pauseBtn {
  position: fixed;
  bottom: 1em;
  right: 1em;
  opacity: 0.4;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#pauseBtn:hover {
  opacity: 1;
}

#pauseMenu {
  display: none;
  width: 60%;
  max-width: 750px;
  padding: 2em 1em;
}

#userInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #212529;
  padding: 1rem;
}

#userInput button {
  margin-top: 1em;
}

.impact-disclaimer {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

#newItemDisplay {
  pointer-events: none;
}

#whiteScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  -webkit-transition: 3000ms;
  transition: 3000ms;
}

#blackScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition: 3000ms;
  transition: 3000ms;
}

#swordSlash {
  position: absolute;
  top: 0;
}

#parameterContainer {
  display: none;
  width: 90%;
  max-width: 750px;
}

#parameterContainer h3 {
  text-align: center;
  margin-bottom: 2em;
}

#parameterContainer .nes-select {
  margin-bottom: 2em;
}

#parameterContainer .checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#parameterContainer .checkbox-container input {
  margin-bottom: 2em;
}

#parameterContainer #userRename {
  margin-top: 2em;
}

#chaptersContainer {
  display: none;
  width: 90%;
  max-width: 750px;
  max-height: 90%;
}

#chaptersContainer h3 {
  text-align: center;
  margin-bottom: 2em;
}

#chaptersContainer .chapitreDisplay a {
  margin-left: 2em;
  color: aqua;
}

#charactersContainer {
  position: relative;
}

#charactersContainer #characterOne {
  position: absolute;
  left: 0;
  bottom: -8em;
  opacity: 0;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

#charactersContainer #characterOne img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 15em;
}

#charactersContainer #characterTwo,
#charactersContainer #characterThree {
  position: absolute;
  right: 0;
  bottom: -2em;
  opacity: 0;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

#charactersContainer #characterTwo img,
#charactersContainer #characterThree img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 15em;
}

#impact-container {
  position: relative;
  z-index: 9;
}

#impact-container .userImpactChoice {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  top: -2em;
  border-radius: 50%;
  border-top: 6px solid red;
  -webkit-animation: rotator 2s linear infinite;
          animation: rotator 2s linear infinite;
  -webkit-animation-direction: all;
          animation-direction: all;
  z-index: 9;
  opacity: 0;
}

#impact-container .userImpactChoice:before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
  z-index: 9;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  75% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  75% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

#actualSword {
  width: 70px;
}

#threeItemContainer {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#threeItemContainer .itemChoice img {
  height: 8em;
  width: 9em;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#threeItemContainer .itemChoice img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

#petWalkContainer {
  position: absolute;
  left: -10%;
  width: 120%;
  bottom: 0;
}

#petWalkContainer #petWalking img {
  height: 8em;
  -webkit-animation: walkingPet 22s infinite ease-in-out;
          animation: walkingPet 22s infinite ease-in-out;
}

@-webkit-keyframes walkingPet {
  0% {
    -webkit-transform: translateX(-12vw);
            transform: translateX(-12vw);
  }
  100% {
    -webkit-transform: translateX(110vw);
            transform: translateX(110vw);
  }
}

@keyframes walkingPet {
  0% {
    -webkit-transform: translateX(-12vw);
            transform: translateX(-12vw);
  }
  100% {
    -webkit-transform: translateX(110vw);
            transform: translateX(110vw);
  }
}

#gameOver {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.9;
}

#gameOver p {
  font-size: 4em;
}

#gameOver p span {
  color: red;
}

#gameOver .u-dead {
  font-size: 1em;
  margin-bottom: 8em;
}

#gameOver button {
  margin-bottom: 1em;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

h1 {
  color: black;
  font-size: 5em;
  text-align: center;
  padding-top: 2em;
}

.home-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 8em;
}

.home-main a {
  -webkit-transition: 200ms;
  transition: 200ms;
}

.home-main a:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.home-main .home-btn {
  background-color: black;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 16em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 12em auto;
  font-size: 0.7em;
}

footer #homeOptionsBtn {
  margin-bottom: 3em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

.main {
  width: 90%;
}

.main #charactersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2em;
}

.main #dialogContainer {
  margin: 1.5em 0;
}

.main #userOptions {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main #userOptions .options {
  color: white;
  width: 80%;
  margin-bottom: 1em;
}

.background1-1 {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(14%, #030334), to(black));
  background: linear-gradient(90deg, #020024 0%, #030334 14%, black 100%);
}

#portalsContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 22em;
  width: 100%;
  height: 10em;
}

#portalsContainer .entitiPortal img {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#entitiesContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 28em;
  width: 100%;
  height: 10em;
}

#entitiesContainer .entitiesImg img {
  height: 220px;
}

#lightContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 22em;
  width: 100%;
  max-width: 100%;
  height: 10em;
}

#lightContainer .lightImg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#sainRembrionContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 22em;
  width: 100%;
}

#sainRembrionContainer img {
  -webkit-transform: scale(2);
          transform: scale(2);
}

#storyOption {
  position: absolute;
  bottom: 6em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#storyOption .options {
  color: white;
  width: 100px;
}

#opponentContainer {
  -webkit-animation: opponentMovement 15s infinite ease-in-out;
          animation: opponentMovement 15s infinite ease-in-out;
}

#savorContainer img {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

#savorContainer #petHeart {
  -webkit-transform: scale(16) translate(-55%, -55%);
          transform: scale(16) translate(-55%, -55%);
}

#opponentLifeBar {
  width: 98%;
  max-width: 700px;
  position: absolute;
  bottom: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#divinilameFight {
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9;
}

#swordPerimter {
  cursor: none;
}

@-webkit-keyframes opponentMovement {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  25% {
    -webkit-transform: translate(30%, 10%);
            transform: translate(30%, 10%);
  }
  50% {
    -webkit-transform: translate(-90%, 70%);
            transform: translate(-90%, 70%);
  }
  75% {
    -webkit-transform: translate(-90%, 20%);
            transform: translate(-90%, 20%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes opponentMovement {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  25% {
    -webkit-transform: translate(30%, 10%);
            transform: translate(30%, 10%);
  }
  50% {
    -webkit-transform: translate(-90%, 70%);
            transform: translate(-90%, 70%);
  }
  75% {
    -webkit-transform: translate(-90%, 20%);
            transform: translate(-90%, 20%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  font-weight: 500;
  scroll-behavior: smooth;
  color: white;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */