@import "./utils/variables";
@import "./utils/extensions";

@import "./base/typographie";

@import "./pages/home";
@import "./pages/classic-stage";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Press Start 2P", cursive;
	font-weight: 500;
	scroll-behavior: smooth;
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(3, 3, 52, 1) 14%, rgba(0, 0, 0, 1) 100%);
	color: white;
}

body {
	max-width: 1920px;
	margin: 0 auto;
}
