@import "./base/typographie";

@import "./utils/variables";
@import "./utils/extensions";

@import "./components/buttons";
@import "./components/input";

@import "./layouts/caracters-display";

@import "./pages/home";
@import "./pages/classic-stage";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Press Start 2P", cursive;
	font-weight: 500;
	scroll-behavior: smooth;
	color: white;
}

body {
	max-width: 1920px;
	margin: 0 auto;
}
