@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
.flex-center, .main #userOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.absolute-center, .main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.options {
  background-color: #212529;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.options:hover {
  background-color: black;
}

#userInput {
  text-align: center;
  background-color: #212529;
  padding: 1rem;
}

#userInput button {
  margin-top: 1em;
}

#caractersContainer {
  position: relative;
}

#caractersContainer #caracterOne {
  position: absolute;
  left: 0;
  bottom: -2em;
}

#caractersContainer #caracterOne {
  position: absolute;
  left: 0;
  bottom: -8em;
  opacity: 0;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

#caractersContainer #caracterOne img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 15em;
}

#caractersContainer #caracterTwo {
  position: absolute;
  right: 0;
  bottom: -1em;
  opacity: 0;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

#caractersContainer #caracterTwo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 15em;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

h1 {
  color: black;
  font-size: 5em;
  text-align: center;
  padding-top: 2em;
}

.home-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 8em;
}

.home-main a {
  -webkit-transition: 200ms;
  transition: 200ms;
}

.home-main a:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.background1-1 {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(14%, #030334), to(black));
  background: linear-gradient(90deg, #020024 0%, #030334 14%, black 100%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

.main {
  width: 90%;
}

.main #caractersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2em;
}

.main #dialogContainer {
  margin: 1.5em 0;
}

.main #userOptions {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main #userOptions .options {
  color: white;
  width: 80%;
  margin-bottom: 1em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  font-weight: 500;
  scroll-behavior: smooth;
  color: white;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */