#caractersContainer {
	position: relative;
	#caracterOne {
		position: absolute;
		left: 0;
		bottom: -8em;
		opacity: 0;
		transition: $mid-anim;
		& img {
			object-fit: cover;
			width: 15em;
		}
	}
	#caracterTwo,
	#caracterThree {
		position: absolute;
		right: 0;
		bottom: -2em;
		opacity: 0;
		transition: $mid-anim;
		& img {
			object-fit: cover;
			width: 15em;
		}
	}
}
