#chaptersContainer {
	display: none;
	@extend .absolute-center;
	width: 90%;
	max-width: 750px;
	max-height: 90vh;
	overflow: scroll;
	h3 {
		text-align: center;
		margin-bottom: 2em;
	}
	#closeChapterBtn {
		@extend .quit-menu;
	}
	.chapitreDisplay {
		a {
			margin-left: 2em;
			color: aqua;
			@include tablet-breakpoint {
				font-size: 0.8em;
			}
		}
	}
}
